{% extends 'base.html.twig' %}

{% block body %}
    {% for sub in pagination %}
        {{ sub.title }}
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination, 'my_pagination.html.twig') }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

