{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
<div id="messages" {{ turbo_stream_listen('chat') }}></div>
    <turbo-frame id="message_form">
        {{ form(form) }}
    </turbo-frame>
{% endblock %}
